<table mat-table [dataSource]="cities" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let city"> {{city.name}} </td>
  </ng-container>

  <!-- Area Column -->
  <ng-container matColumnDef="area">
    <th mat-header-cell *matHeaderCellDef>Area</th>
    <td mat-cell *matCellDef="let city"> {{city.area}} </td>
  </ng-container>

  <!-- Population Column -->
  <ng-container matColumnDef="population">
    <th mat-header-cell *matHeaderCellDef>Population</th>
    <td mat-cell *matCellDef="let city"> {{city.population}} </td>
  </ng-container>

  <!-- Density Column -->
  <ng-container matColumnDef="density">
    <th mat-header-cell *matHeaderCellDef>Density</th>
    <td mat-cell *matCellDef="let city"> {{city.density}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'population-over-million': isPopulationOverMillion(row.population)}"></tr>
</table>
